.navbar {
    box-shadow: none;  
    font-size: 18px;
}

.people-person {
    padding: 1em;
}

body {
    // background-color: white;
    // margin-top: 0;
}

#welcome {
    color: #FACF39;
    background-color: black;
}

.home-section-bg {
    filter: blur(5px) brightness(30%) !important;
}

.hero-title {
    color: #FACF39 !important;
    font-weight: 700;
    font-size: 3em;
}

.hero-lead {
    color: #FACF39 !important;
    max-width: 100%;
}